<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="Description" content="Eleventy blog" />
    <title>{{ pageTitle }}</title>
    <link
      href="https://fonts.googleapis.com/css?family=Noto+Serif+KR:500,600,700"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./styles/common.css" />
    <link rel="stylesheet" href="./styles/homepage.css" />
  </head>
  <body>
    <div class="container">
      <h1>Zayyan Faizal.</h1>
      <p>Hi! I'm currently a Systems Engineering & Design student with a Computer Science specialization at the University of Illinois at Urbana-Champaign. 
         Below you can find a few of my projects on GitHub, Medium blog posts, and my a few pieces of artwork.</p>
      {{ content }}
    </div>
  </body>
</html>
