a.social-icon {
    color:black; 
    margin: 12px; 
    font-size:1.75em;
}

a.social-icon:hover {
    padding: 10px;
}

div.list {
    padding:3vw;
    width:60%; 
    text-align:center;
    font-size:5vh;
    font-style:italic; 
    text-decoration:underline; 
    padding:3vw;
}

.subheader {
    font-style: italic;
    text-decoration:underline;
    font-size:4vh;
}

.item {
    font-size: 3vh;
}

.hide {
    display: none;
    padding:5vw;
    width:100%; 
    line-height: 5vh;
    text-align:center;
    font-size:3vh;
    padding:3vw;
    
}

div.list:active + .hide {
    display: block;
}

div.list:hover + .hide {
    display: block;
}

p.name {
    text-align: center;
    font-size: 2.5rem;
    font-style: italic;
    /* font-weight: bolder; */
    text-decoration: underline;
    padding: 3vw;
    
}

.headshot {
    max-width: 150px !important;
    border-radius: 50%;
}

.projectName {
    text-decoration: underline;
    text-overflow: unset;
    font-size: 2vh;
}